<% layout("/layouts/boilerplate.ejs") -%>

    <body class="b">
        <div class="box">
            <div class="box">

                <div class="box1">
                    <h3>
                        <%= users.username %>
                    </h3>
                    <img src="<%= users.image.url %>" alt="photo">
                    <br><br>
                    <form method="post" action="/profile" id="profileForm" class="needs-validation" novalidate
                        enctype="multipart/form-data">
                        <label for="fileInput" class="btn btn-success">Upload Profile Photo</label>
                        <input type="file" class="form-control d-none" id="fileInput" name="photo" accept="image/*"
                            onchange="document.getElementById('profileForm').submit()" />
                    </form>
                    <br>
                    <p> Email: <%= users.email %>
                    </p>
                    <p> Contact: <%= users.phone %>
                    </p>
                    <p>EcoTokens: <%= users.ecotokens %>
                    </p>
                </div>
                <div class="proopt">
                    <div class="box2">
                        <h3 class="headings"> 📦 Uploads</h3>
                        <a href="/uploads" class="prodes"><p class="description">View history</p></a>
                    </div>

                    <div class="box2">
                        <h3 class="headings">🎁Redeem Certificate</h3>
                        <a href="/certificate" class="prodes"><p class="description">Reedem with 1000 EcoTokens</p></a>
                    </div>
                </div>

                <div class="proopt">
                    <% if(users.role === "admin") { %>
                        <div class="box2">
                            <h3 class="headings">📊 Admin Dashboard</h3>
                            <a href="/dashboard" class="prodes"><p class="description">Go to Dashboard</p></a>
                        </div>
                    <% } else { %>
                        <div class="box2">
                            <h3 class="headings">🌍 Request an Item</h3>
                            <% if(!hasNeed) { %>
                                <a href="/needs" class="prodes"><p class="description">Add Item</p></a>
                            <% } else { %>
                                <a href="/needs/<%= existingNeed._id %>/edit" class="prodes"><p class="description">Edit Item</p></a>
                            <% } %>
                        </div>
                    <% } %>
                    <div class="box2">
                        <h3 class="headings">🔔 Notifications</h3>
                        <a href="/notifications" class="prodes"><p class="description">View Messages</p></a>
                    </div>
                </div>
            </div>
        </div>
    </body>